<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Clyde A. Parker Info:</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">

                <img src="../Content/img/IMG_4704.jpg" class="img-fluid" alt="">

            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Full Stack Web Developer &amp; Photogenic Individual</h3>
                <p class="font-italic">
                    Hello! My name is CLyde Parker. I was born in Texas and I am a Full Stack Web Developer. Below is a little information about myself:
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Born:</strong> Texas</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> coderclyde.com</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 901 500 6191</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Location:</strong> Williston, North Dakota </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Employment Area:</strong> Texas</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Gender:</strong> Male</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> parker.pro.acc@gmail.com</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                        </ul>
                    </div>
                </div>
                <p>
                    I have worked the past 2 years in different areas of the oil field.
                    This meant meeting quality standards and deadlines on a daily basis. Due to my experience, I have gained the abilities to properly communicate with anyone, understand instructions, and take action in decision making when needed to.
                    Recently I was laid off due to COVID-19 and this gave me the opportunity to finally be able to explore new opportunities for my career.
                    I have family members in the IT field that told me about their positions in Web Development and helped me find my starting point at Centriq Training.
                    I have always had an interest in technology so when I was given this new opportunity, I took it. I entered the IT field because unlike the oil field, the tech industry has solid job stability and I also understand that technology is and will always continue to advance so I want to be engaged and apart of the process as it does.

                </p>
            </div>
        </div>

    </div>
    <!-- End About Me -->
    <!-- ======= Skills  ======= -->
    <div class="skills container">

        <div class="section-title">
            <h2>Centriq Training Skills</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">HTML &amp; CSS<i class="val">Week 1</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">C# <i class="val">Week 2 &amp; 3</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript &amp; jQuery<i class="val">Week 4 &amp; 5</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">SQL <i class="val">Week 6</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">MVC <i class="val">Week 7, 8, &amp; 9</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">On the Job Skills <i class="val">Throughout Entire Track</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Skills -->
    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div class="section-title">
            <h2>Interests</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <i class="ri-store-line" style="color: #ffbb2c;"></i>
                    <h3>Cars &amp; Trucks</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <h3>Video Games</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                    <h3>Animals</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                    <h3>Volley Ball</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <h3>Harry Potter</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                    <h3>Lord of the Rings &amp; The Hobbit </h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3>Marvel</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                    <h3>Supernatural</h3>
                </div>
            </div>

        </div>

    </div>
    <!-- End Interests -->
    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

        <div class="section-title">
            <h2>Links</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

        </div>

    </div>
    <!-- End Testimonials  -->

</section>
<!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Clyde Parker</h4>
                    <p><em>Innovative and deadline-driven Full Stack Web Developer. Recently finished the full stack web development course at Centriq Training on August 20th 2021. Seeking an engaging career near the Bryan, College Station area in Texas.</em></p>
                    <p>
                        <ul>
                            <li>Address: Williston, ND</li>
                            <li>Mobile: (901) 500-6191</li>
                            <li>Email: parker.pro.acc@gmail.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Development</h4>
                    <h5>2021</h5>
                    <p><em>Centriq Training Kansas - City, MI</em></p>
                    <p>I took the Full Stack Web Development course at Centriq Training to learn computer coding so I would be able to enter into the IT field as a new career path.</p>
                </div>
                <div class="resume-item">
                    <h4>High School Diploma Recieved</h4>
                    <h5>Graduation May-2019</h5>
                    <p><em>Sapulpa Highschool - Sapulpa, OK</em></p>
                    <p>Graduated and recieved my diploma.</p>
                </div>
                <div class="resume-item">
                    <h4>1 Year College Business</h4>
                    <h5>Classes Year 2020</h5>
                    <p><em>Williston State College - Williston, ND</em></p>
                    <p>Completed 1 year of college classes towards a business management degree.</p>
                </div>
                <div class="resume-item pb-0">
                    <h3 class="resume-title">Technical Training</h3>
                    <h4>Full Stack Web Development</h4>
                    <p><em>Centrig Training - Kansas City, MI</em></p>
                    <p>
                        <ul>
                            <li>MVC Framework</li>
                            <li>Trouble Shooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum (Created Team Project)</li>
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Work</h3>
                <div class="resume-item">
                    <h4>Job Experience</h4>
                    <h5>Basin Safety Consulting - Williston, ND</h5>
                    <p><em>Air Tank Specialist</em></p>
                    <p>
                        <ul>
                            <li>Managed an air compressor station used for filling high pressure oxygen tanks.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>FlowCore Systems - Williston, ND</h5>
                    <p><em>Manufacturing Foreman</em></p>
                    <p>
                        <ul>
                            <li>Metal work including: Cutting, grinding, and welding. Building chemical pump stands. Chemical pump assembly. Painting all stands and materials required for chemical pumps.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>GameStop - Williston, ND</h5>
                    <p><em>Distro Specialist</em></p>
                    <p>
                        <ul>
                            <li> Explaining differences and similarities, as well as pros and cons between different gaming consoles as well at computers. Communication skills in person and over the phone with customers. Stocking of inventory and redesign of store.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>Total Depth Warehouse - Williston, ND</h5>
                    <p><em>Warehouse Worker</em></p>
                    <p>
                        <ul>
                            <li>
                                Categorizing and Stocking Inventory. Putting together orders for pickup and delivery.
                                Done using a forklift and manual labor.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>Salvation Army - Sapulpa, OK</h5>
                    <p><em>Activity Instructor</em></p>
                    <p>
                        <ul>
                            <li>
                                Watching over and leading kids between the ages of 6 and 16 through activities to help improve social skills. Teaching kids’ manors and discipline to help then succeed in life.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>O'Reilly Auto Parts – Sapulpa, OK</h5>
                    <p><em>Parts Specialist</em></p>
                    <p>
                        <ul>
                            <li>
                                Sales and Retail of auto parts throughout the entire store. Required knowledge of parts features and operations for specific vehicles. Required communication skills in person and over the phone.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h5>Retail Staffing Source – Dallas, TX</h5>
                    <p><em>Merchandising Laborer</em></p>
                    <p>
                        <ul>
                            <li>
                                Building and refurbishing display areas in Lowe's stores across Texas and Oklahoma. Work areas include painting, building display frames, taking inventory, reorganizing, and cleaning.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Resume Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>My Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Sed ut perspiciatis</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Magni Dolores</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Nemo Enim</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Dele cardo</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Divera don</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Projects</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/project1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Fed 1 Studio Project</h4>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/project02.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dungeon Application</h4>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/project3.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Store Front</h4>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/project4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Wish List</h4>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/Construction.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coming Soon</h4>
                        <p>Advertisement Website</p>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../Content/img/portfolio/Construction.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coming Soon</h4>
                        <p>Business Project</p>
                        <div class="portfolio-links">
                            <a href="../Content/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>
<!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
                        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>contact@example.com</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

    </div>
</section>
<!-- End Contact Section -->