<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PersonalSiteV2.UI.MVC-20210802065910.mdf;Initial Catalog=aspnet-PersonalSiteV2.UI.MVC-20210802065910;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--Default Connection String-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=PersonalSiteV2.UI.MVC-2-1-alpha1;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>